<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem Ipsum</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi inventore voluptatem vitae. Fugit quaerat cumque, repudiandae illo praesentium voluptatem, nemo quidem, harum sed dolores accusantium exercitationem reiciendis error illum modi!</p>
</body>
</html>