<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>your random is <%= randomNum %></h1>
    <% if( randomNum % 2 === 0){ %>
        <h2> this is even number </h2>
    <% } else { %>
        <h2>this is odd number</h2>
    <% } %>

    <h3>that number is <%= randomNum % 2 === 0? 'EVEN' : 'ODD' %></h3>
</body>
</html>